
@keyframes animatetext{
  0%{
    opacity: 0;
    transform: translateY(-30px);

  }
  100%{
    opacity: 100;
    transform: translateY(0);
  }
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.active > *{
  animation: animatetext 10s forwards;
}

.bg-img{
  background: no-repeat center center; 
  background-size: cover;
  height: 60vh;
}
.bg-img-panel{
  background: no-repeat center center;
  background-size: cover;
  min-height: 10rem;
  filter: brightness(60%);
}
.bg-img:before{
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.3);
}
.btn-primary{
  border-radius: .5rem 0 .5rem 0;
  min-width: 10rem;
}

.navbar-brand{
  max-width: 60%;
}
.apac_logo{
  max-width: 19rem;
  
}
.navbar-toggler{
  min-width: 5rem;
  min-height: 4rem;
}
.carousel-caption{
  min-width: 90%;
  opacity: 0;
}
.sticky-top-title{
  position: sticky;
  top: 5rem;
  z-index: 1;
}
.logo-min-height{
  min-height: 20%;
}
body {
  font-family: 'Lato', sans-serif;
}
h1 {
    margin-bottom: 40px;
}
label {
    color: #333;
}
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
  font-weight: bold;
}

ul li{
  font-size: .9rem; 

}

.card.p-4:hover{
  background: linear-gradient(-45deg,#a9f2ff,#f8f8f8);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;

}



@media (min-width: 760px) {   
    
    .carousel-caption{
      min-width: 40%;
    }
    nav{
      height: 5rem;
    }

}

@media (min-width: 375px) {   
    
  .apac_logo{
    max-width: 18rem;;
  }

  .sticky-top-title{
    top: 6rem;
  }
}

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}